In [199]:
import pandas as pd
import numpy as np
import time
import datetime
import os

In [200]:
dir=os.getcwd()
for i, df in enumerate(os.listdir('data')):
    if i == 0:
        data = pd.read_csv(dir+'\\data\\'+df)
    else:
        data_temp = pd.read_csv(dir+'\\data\\'+df)
        data = pd.concat([data, data_temp], axis=0, ignore_index=True)

In [203]:
data.head()

,date,train_id,stop_sequence,from,from_id,to,to_id,scheduled_time,actual_time,delay_minutes,status,line,type
0,2018-03-01,3805,1.0,New York Penn Station,105.0,New York Penn Station,105.0,2018-03-02 01:22:00,2018-03-02 01:21:05,0.000000,departed,Northeast Corrdr,NJ Transit
1,2018-03-01,3805,2.0,New York Penn Station,105.0,Secaucus Upper Lvl,38187.0,2018-03-02 01:31:00,2018-03-02 01:31:08,0.133333,departed,Northeast Corrdr,NJ Transit
2,2018-03-01,3805,3.0,Secaucus Upper Lvl,38187.0,Newark Penn Station,107.0,2018-03-02 01:40:00,2018-03-02 01:40:07,0.116667,departed,Northeast Corrdr,NJ Transit
3,2018-03-01,3805,4.0,Newark Penn Station,107.0,Newark Airport,37953.0,2018-03-02 01:45:00,2018-03-02 01:45:10,0.166667,departed,Northeast Corrdr,NJ Transit
4,2018-03-01,3805,5.0,Newark Airport,37953.0,North Elizabeth,109.0,2018-03-02 01:49:00,2018-03-02 01:49:10,0.166667,departed,Northeast Corrdr,NJ Transit

In [204]:
filt1 = data['type']=='NJ Transit'
data = data.loc[filt1]

In [205]:
data.isnull().sum()

date                   0
train_id               0
stop_sequence     272931
from                   0
from_id             2042
to                     0
to_id               2042
scheduled_time    272931
actual_time            0
delay_minutes     272931
status                 0
line                   0
type                   0
dtype: int64

In [206]:
data.dropna(inplace=True)

In [207]:
data['scheduled_time']=pd.to_datetime(data['scheduled_time'])
scheduled_time_unix=[]
for x in data['scheduled_time']:
    scheduled_time_unix.append(datetime.datetime.timestamp(x))
data['scheduled_time_unix']=scheduled_time_unix

In [208]:
data['actual_time']=pd.to_datetime(data['actual_time'])
actual_time_unix=[]
for x in data['actual_time']:
    actual_time_unix.append(datetime.datetime.timestamp(x))
data['actual_time_unix']=actual_time_unix

In [209]:
delay_s=[]
for x, y in zip(data['scheduled_time_unix'], data['actual_time_unix']):
    z = y - x
    if z < 0:
        delay_s.append(0)
    else:
        delay_s.append(z)
data['delay_s'] = delay_s

In [211]:
data.head()

,date,train_id,stop_sequence,from,from_id,to,to_id,scheduled_time,actual_time,delay_minutes,status,line,type,scheduled_time_unix,actual_time_unix,delay_s
0,2018-03-01,3805,1.0,New York Penn Station,105.0,New York Penn Station,105.0,2018-03-02 01:22:00,2018-03-02 01:21:05,0.000000,departed,Northeast Corrdr,NJ Transit,1.519972e+09,1.519972e+09,0.0
1,2018-03-01,3805,2.0,New York Penn Station,105.0,Secaucus Upper Lvl,38187.0,2018-03-02 01:31:00,2018-03-02 01:31:08,0.133333,departed,Northeast Corrdr,NJ Transit,1.519972e+09,1.519972e+09,8.0
2,2018-03-01,3805,3.0,Secaucus Upper Lvl,38187.0,Newark Penn Station,107.0,2018-03-02 01:40:00,2018-03-02 01:40:07,0.116667,departed,Northeast Corrdr,NJ Transit,1.519973e+09,1.519973e+09,7.0
3,2018-03-01,3805,4.0,Newark Penn Station,107.0,Newark Airport,37953.0,2018-03-02 01:45:00,2018-03-02 01:45:10,0.166667,departed,Northeast Corrdr,NJ Transit,1.519973e+09,1.519973e+09,10.0
4,2018-03-01,3805,5.0,Newark Airport,37953.0,North Elizabeth,109.0,2018-03-02 01:49:00,2018-03-02 01:49:10,0.166667,departed,Northeast Corrdr,NJ Transit,1.519973e+09,1.519973e+09,10.0

In [214]:
headers = list(data.columns)

In [215]:
headers.remove('from')
headers.remove('to')
headers.remove('delay_minutes')

In [216]:
data2 = data[headers]
data2.to_csv('transit1.csv')

In [219]:
data[['from', 'from_id']].to_csv('from_stations.csv')
data[['to', 'to_id']].to_csv('to_stations.csv')